* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  color: #5f697c;
}

.content-container {
  padding: 24px;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 28px;
  line-height: 29px;
  margin-bottom: 20px;
}

h1,
h2,
h3 {
  color: #333;
}

p {
  font-size: 16px;
  line-height: 28px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #5f697c;
}

ul {
  list-style-type: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-btn,
.outline-btn {
  border-radius: 12px;
  font-weight: 600;
  font-size: 18px;
  margin: 20px 0;
  width: 100%;
  height: 52px;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.main-btn.main-btn,
.outline-btn.main-btn {
  background: #ff4d00;
  box-shadow: 0px 15px 25px rgba(255, 77, 0, 0.248006);
  color: #fbfbfb;
}
.main-btn.disabled,
.outline-btn.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.main-btn.outline-btn,
.outline-btn.outline-btn {
  border: 1px solid #666;
  background-color: #fff;
}
.main-btn .icon,
.outline-btn .icon {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  display: flex;
}

.question-card {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.question-card .question {
  display: flex;
  padding-top: 12px;
  padding-bottom: 18px;
  border-bottom: 1px solid #cbcbcb;
  position: relative;
}
.question-card .question .brand-logo {
  margin-right: 18px;
}
.question-card .question .brand-name {
  font-size: 14px;
}
.question-card .question h3 {
  font-weight: bold;
  font-size: 24px;
}
.question-card .question .green-check-mark-icon,
.question-card .question .x-icon {
  position: absolute;
  top: -6px;
  right: -6px;
}
.question-card .details {
  display: flex;
  align-items: center;
  padding-top: 12px;
  justify-content: space-between;
}
.question-card .details > div p {
  font-size: 13px;
  line-height: 18px;
}
.question-card .details > div .counter {
  color: #333;
  font-size: 16px;
  font-weight: bold;
}
.question-card .details .main-btn {
  width: auto;
  padding: 0 20px;
  height: 38px;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.answer-list-item {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  margin-bottom: 15px;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 24px;
  color: #333;
  position: relative;
  cursor: pointer;
}
.answer-list-item::after {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 18px;
}
.answer-list-item.selected {
  background-color: #333;
  color: #fff;
  cursor: not-allowed;
}
.answer-list-item.selected.correct {
  background-color: #6ED300;
  color: #fff;
  border: 0 !important;
  cursor: not-allowed;
}
.answer-list-item.selected.correct::after {
  content: "Correct!";
  color: #376802;
}
.answer-list-item.selected.wrong {
  background-color: #FF2943;
  color: #fff;
  cursor: not-allowed;
}
.answer-list-item.selected.wrong::after {
  content: "Wrong!";
  color: #630914;
}
.answer-list-item.correct {
  border: 1px solid #6ED300;
  cursor: not-allowed;
}
.answer-list-item.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dfe8f6;
  color: #728eba;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question {
  position: relative;
}
.question h1 {
  font-size: 38px;
  line-height: 46px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cbcbcb;
  padding-right: 40px;
}
.question .x-icon,
.question .green-check-mark-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.brand {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.brand .brand-logo {
  margin-right: 20px;
}
.brand .brand-name {
  font-size: 24px;
  font-weight: normal;
}

.home-page .say-welcome {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-page .tabs {
  margin: 30px 0;
}
.home-page .tabs ul {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.home-page .tabs ul li {
  font-weight: 600;
  font-size: 16px;
  width: 50%;
  text-align: center;
}
.home-page .tabs ul li.active a {
  color: #ff4d00;
}
.home-page .tabs .tabs-bar {
  width: 100%;
  height: 2px;
  background-color: #cbcbcb;
}
.home-page .tabs .tabs-bar div {
  background-color: #ff4d00;
  width: calc(50%);
  height: 100%;
}
.home-page .tabs .tabs-bar .open {
  margin-left: 0;
}
.home-page .tabs .tabs-bar .expired {
  margin-left: 50%;
}

.answered-question .total-pts {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cbcbcb;
}
.answered-question .total-pts h1 {
  font-size: 64px;
}
.answered-question .total-pts h3 {
  font-size: 24px;
}
.answered-question .your-answer {
  margin-top: 20px;
}
.answered-question .your-answer p {
  margin-bottom: 10px;
  color: #333;
  font-size: 18px;
}
.answered-question .what-the-question-is {
  margin-top: 35px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cbcbcb;
}
.answered-question .what-the-question-is h2 {
  margin-top: 5px;
}
.answered-question .share-question {
  padding-top: 60px;
}
.answered-question .share-question .main-btn {
  margin-top: 16px;
}

.introduce-yourself {
  text-align: center;
  padding-top: 80px;
}
.introduce-yourself .rectangle {
  width: 150px;
  height: 150px;
  background-color: #dfe8f6;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  color: #728eba;
}
.introduce-yourself h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 36px;
}
.introduce-yourself input {
  border-bottom: 1px solid #cbcbcb;
  padding: 15px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}
.introduce-yourself .info {
  border-top: 1px solid #cbcbcb;
  padding: 20px 0;
  text-align: left;
}
.introduce-yourself .info > div {
  margin-bottom: 24px;
}
.introduce-yourself .info > div p {
  font-size: 14px;
}
.introduce-yourself .info > div h3 {
  font-size: 44px;
  line-height: 45px;
}

.welcome-page {
  padding-top: 180px;
  text-align: center;
}
.welcome-page .logo {
  margin-bottom: 48px;
}
.welcome-page p {
  padding: 0 30px;
}
.welcome-page button {
  margin-top: 220px;
}
.welcome-page .agree-to-wnrz-term {
  font-size: 14px;
  margin-top: 30px;
}
.welcome-page .agree-to-wnrz-term a {
  color: #ff4d00;
  font-weight: bold;
}

.what-is-your-mobile-number {
  text-align: center;
  padding-top: 80px;
}
.what-is-your-mobile-number .illustration {
  max-width: 200px;
  margin: auto;
}
.what-is-your-mobile-number h1 {
  margin-top: 30px;
  line-height: 36px;
}
.what-is-your-mobile-number .mobile-number-input {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 20px;
  position: relative;
}
.what-is-your-mobile-number .mobile-number-input img {
  border-radius: 6px;
}
.what-is-your-mobile-number .mobile-number-input .saudi-number-code {
  font-size: 20px;
  font-weight: bold;
  margin: 0 6px 0 8px;
  color: #333;
}
.what-is-your-mobile-number .mobile-number-input input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
}
.what-is-your-mobile-number .mobile-number-input input.invalid {
  color: #FF2943;
  padding-right: 44px;
}
.what-is-your-mobile-number .mobile-number-input input.valid {
  color: green;
}
.what-is-your-mobile-number .mobile-number-input input:focus + .underline::after {
  animation: underline_active 0.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
.what-is-your-mobile-number .mobile-number-input .x-icon,
.what-is-your-mobile-number .mobile-number-input .green-check-mark-icon {
  position: absolute;
  top: 5px;
  right: 0;
}
.what-is-your-mobile-number .mobile-number-input .underline {
  width: 100%;
  height: 2px;
  background-color: #cbcbcb;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
}
.what-is-your-mobile-number .mobile-number-input .underline::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff4d00;
  transform: scaleX(0);
  transform-origin: 50%;
}
@keyframes underline_active {
  to {
    transform: scaleX(1);
  }
}

.invalid-mobile-number {
  background-color: #FF2943;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 14px;
  padding: 8px 0;
  text-align: center;
}

.sms-verification {
  text-align: center;
  padding-top: 80px;
}
.sms-verification .illustration {
  max-width: 200px;
  margin: auto;
}
.sms-verification h1 {
  margin-top: 30px;
  line-height: 36px;
  margin-bottom: 8px;
}
.sms-verification p {
  font-size: 18px;
}
.sms-verification .sms-verification-code-boxs {
  padding: 30px 0 25px;
  display: flex;
  justify-content: space-evenly;
}
.sms-verification .sms-verification-code-boxs.invalid input {
  color: #FF2943;
}
.sms-verification .sms-verification-code-boxs input {
  background-color: #dfe8f6;
  border-radius: 12px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.sms-verification .sms-verification-code-boxs input:focus {
  border: 1px solid #20DCDB;
}
.sms-verification a {
  color: #ff4d00;
  font-weight: 600;
}

.question-page .main-btn {
  margin-bottom: 20px;
}
.question-page .outline-btn {
  margin-top: 10px;
}
.question-page .other-questions {
  margin-top: 30px;
  padding-top: 24px;
  border-top: 1px solid #cbcbcb;
}
.question-page .other-questions h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.share-question h1 {
  margin-top: 40px;
}
.share-question .share-links .main-btn {
  box-shadow: none;
  margin-top: 24px;
}
.share-question .share-links .main-btn.whatsapp {
  background-color: #0AC144;
}
.share-question .share-links .main-btn.twitter {
  background-color: #069FF5;
}
.share-question .share-links .main-btn.copy-link {
  background-color: #333;
}

/*# sourceMappingURL=styles.css.map */
