.welcome-page {
  padding-top: 180px;
  text-align: center;

  .logo {
    margin-bottom: 48px;
  }

  p {
    padding: 0 30px;
  }

  button {
    margin-top: 220px;
  }

  .agree-to-wnrz-term {
    font-size: 14px;
    margin-top: 30px;

    a {
      color: $orangeColor;
      font-weight: bold;
    }
  }
}