.question-page {
  .brand {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .logo {
      margin-right: 20px;
    }

    .brand-name {
      font-size: 24px;
      font-weight: normal;
    }
  }

  .question {
    h1 {
      font-size: 38px;
      line-height: 46px;
      padding-bottom: 20px;
      border-bottom: 1px solid $grayBorder;
      position: relative;
      padding-right: 24px;

      span {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
      }
    }

  }


  .main-btn {
    margin-bottom: 20px;
  }

  .outline-btn {
    margin-top: 10px;
  }

  .other-questions {
    margin-top: 30px;
    padding-top: 24px;
    border-top: 1px solid $grayBorder;

    h2 {
      font-size: 28px;
    }

    .questions {
      padding-top: 30px;
    }
  }
}