.brand {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .brand-logo {
        margin-left: 20px;
    }

    .brand-name-and-award {

        .brand-name {
            font-size: 24px;
            font-weight: normal;
        }

        .award {
            display: flex;
            align-items: center;
            margin-top: 6px;
            font-size: 16px;
            color: $orangeColor;

            div {
                margin: 0 12px;
                font-size: 18px;
            }

            .i-icon {
                cursor: pointer;
            }
        }
    }

}