.profile-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dfe8f6;
    color: $shipCoveColor;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}