.question-card {
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;

    .question {
        display: flex;
        padding-top: 12px;
        padding-bottom: 18px;
        border-bottom: 1px solid $grayBorder;
        position: relative;

        .brand-logo {
            margin-right: 18px;
        }

        .brand-name {
            font-size: 14px;
        }

        h3 {
            font-weight: bold;
            font-size: 24px;
        }

        .green-check-mark-icon,
        .x-icon {
            position: absolute;
            top: -6px;
            right: -6px;
        }
    }

    .details {
        display: flex;
        align-items: center;
        padding-top: 12px;
        justify-content: space-between;

        >div {
            p {
                font-size: 13px;
                line-height: 18px;
            }

            .counter {
                color: $black333;
                font-size: 16px;
                font-weight: bold;
            }

        }

        .main-btn {
            width: auto;
            padding: 0 20px;
            height: 38px;
            margin: 0;
        }
    }
}